[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
redis = "*"
boto3 = "~=1.2"
pyyaml = "*"
table2ascii = "*"
types-pyyaml = "*"

[dev-packages]
boto3-stubs = {extras = ["secretsmanager", "s3"], version = "*"}
autopep8 = "*"
build = "*"
twine = "*"
isort = "*"
flake8 = "*"

[requires]
python_version = "3.8"
